# Non-project specific files
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
cover

# Project specific
tmp
spotify_appkey.key
albums.txt
rare_albums.txt
torrents.txt
